{% if accordionTitle and sectionContent %}
  <div class="m-accordion">
    <div class="m-accordion_trigger">
      {{accordionTitle}}
    </div>
    <div class="m-accordion_content">
      {{sectionContent}}
    </div>
  </div>
{% endif %}