{% case iconRef %}
  {% when "dropdown" %}
    <svg width="15px" height="10px" viewBox="0 0 15 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Dropdown Arrow</title>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Four-Winds-Growers-Shop-Detail-Page" transform="translate(-376.000000, -722.000000)" fill="#52483C">
          <g id="Group-2" transform="translate(100.000000, 405.000000)">
            <g id="Group-16-Copy">
              <polygon id="Page-1-Copy-17" transform="translate(283.500000, 322.000000) scale(-1, 1) rotate(-270.000000) translate(-283.500000, -322.000000) " points="288 322 287.138554 321.153846 280.902533 315 279 316.692308 284.379607 322 279 327.307692 280.902533 329 287.138554 322.846154"></polygon>
            </g>
          </g>
        </g>
      </g>
    </svg>
  {% when "user" %}
    <svg width="23px" height="22px" viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>User Icon</title>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Four-Winds-Growers-Shop-Detail-Page" transform="translate(-1276.000000, -64.000000)" fill="#443E37">
          <g id="Group-18">
            <g id="Page-1" transform="translate(1276.000000, 64.000000)">
              <path d="M18,6 C18,9.31377778 15.3137778,12 12,12 C8.68622222,12 6,9.31377778 6,6 C6,2.68622222 8.68622222,0 12,0 C15.3137778,0 18,2.68622222 18,6" id="Fill-1"></path>
              <path d="M11.5,13 C5.14839216,13 0,16.4539429 0,20.7142857 L0,22 L23,22 L23,20.7142857 C23,16.4539429 17.8516078,13 11.5,13 Z" id="Fill-2"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  {% when "cart" %}
    <svg width="42px" height="22px" viewBox="0 0 42 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Cart</title>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Four-Winds-Growers-Shop-Detail-Page" transform="translate(-1374.000000, -66.000000)" fill="#443E37">
          <g id="Group-18">
            <g id="Page-1" transform="translate(1374.000000, 66.000000)">
              <g id="Group-12">
                <path d="M25.9297419,18.0211718 C25.9306057,18.4555117 25.7604463,18.8642204 25.4505748,19.1719 C25.1405954,19.4796864 24.7281532,19.6497058 24.2889347,19.6504534 L24.2855877,19.6504534 C23.8477728,19.6504534 23.4358704,19.4822495 23.1254591,19.1764922 C22.8144,18.8699874 22.6426211,18.4619194 22.6416494,18.0275796 C22.6399219,17.1309194 23.3759476,16.3999 24.2824566,16.3981913 L24.2858036,16.3981913 C24.7237265,16.3981913 25.1356288,16.5663951 25.4459321,16.8721524 C25.7570992,17.1787641 25.9288781,17.5867252 25.9297419,18.0211718 Z M24.2858036,14.0486767 L24.2778139,14.0486767 C22.0615311,14.0530553 20.2620093,15.8400748 20.266328,18.0322786 C20.2684874,19.0941524 20.6885954,20.091735 21.449238,20.8411233 C22.2079373,21.5886961 23.2148576,22.0000748 24.2854797,21.999968 L24.2936853,21.999968 C25.3672226,21.9979388 26.3757625,21.5823951 27.133382,20.8300165 C27.8911095,20.0776379 28.3071147,19.0784534 28.3050632,18.0164728 C28.3029039,16.954599 27.8829039,15.9570165 27.1221532,15.2075214 C26.363454,14.4600553 25.3565337,14.0486767 24.2858036,14.0486767 L24.2858036,14.0486767 Z" id="Fill-2"></path>
                <path d="M5.66338149,18.0211718 C5.66424524,18.4555117 5.49408586,18.8642204 5.1842144,19.1719 C4.87423496,19.4796864 4.4617928,19.6497058 4.02257429,19.6504534 L4.01922725,19.6504534 C3.58141234,19.6504534 3.16951003,19.4822495 2.85909871,19.1764922 C2.54803959,18.8699874 2.37626067,18.4619194 2.37528895,18.0275796 C2.37356144,17.1309194 3.10958715,16.3999 4.01609614,16.3981913 L4.01944319,16.3981913 C4.45736607,16.3981913 4.86926838,16.5663951 5.17957172,16.8721524 C5.49073882,17.1787641 5.66251774,17.5867252 5.66338149,18.0211718 Z M4.01944319,14.0486767 L4.01145347,14.0486767 C1.79517069,14.0530553 -0.00435115681,15.8400748 -3.23907455e-05,18.0322786 C0.00212699229,19.0941524 0.422234961,20.091735 1.18287763,20.8411233 C1.94157686,21.5886961 2.94849717,22.0000748 4.01911928,21.999968 L4.02732494,21.999968 C5.10086221,21.9979388 6.10940206,21.5823951 6.86702159,20.8300165 C7.6247491,20.0776379 8.04075424,19.0784534 8.03870283,18.0164728 C8.03654344,16.954599 7.61654344,15.9570165 6.8557928,15.2075214 C6.09709357,14.4600553 5.09017326,14.0486767 4.01944319,14.0486767 L4.01944319,14.0486767 Z" id="Fill-6"></path>
                <path d="M23.3735506,9.83092427 L24.9545429,11.2442641 L21.7994684,11.2442641 L23.3735506,9.83092427 Z M17.2302139,9.82836117 L18.8071033,11.2442641 L15.6532165,11.2442641 L17.2302139,9.82836117 Z M11.0840699,9.82836117 L12.6609594,11.2442641 L9.50707249,11.2442641 L11.0840699,9.82836117 Z M4.93781799,9.82836117 L6.51481542,11.2442641 L3.36092853,11.2442641 L4.93781799,9.82836117 Z M4.93781799,3.70104078 L3.21948895,2.15815728 L6.65625501,2.15815728 L4.93781799,3.70104078 Z M7.38623445,6.76470097 L4.93781799,8.96309903 L2.48940154,6.76470097 L4.93781799,4.56640971 L7.38623445,6.76470097 Z M11.0840699,3.70104078 L9.3656329,2.15815728 L12.802399,2.15815728 L11.0840699,3.70104078 Z M17.2302139,3.70104078 L15.5117769,2.15815728 L18.9486509,2.15815728 L17.2302139,3.70104078 Z M23.3726869,3.70445825 L21.6430211,2.15815728 L25.0947949,2.15815728 L23.3726869,3.70445825 Z M26.091674,2.15815728 L26.091674,6.13503107 L23.8556329,4.13612816 L26.0585275,2.15815728 L26.091674,2.15815728 Z M23.3726869,8.96640971 L20.918872,6.77292427 L23.3735506,4.56897282 L25.8273656,6.76245825 L23.3726869,8.96640971 Z M14.8003681,6.78146796 L14.8003681,6.74804078 L17.2302139,4.56640971 L19.6786303,6.76470097 L17.2302139,8.96309903 L14.8003681,6.78146796 Z M14.8003681,7.6467301 L16.7483476,9.3957301 L14.8003681,11.1447301 L14.8003681,7.6467301 Z M13.5047383,7.6549534 L13.5047383,11.1365068 L11.5659362,9.3957301 L13.5047383,7.6549534 Z M13.5047383,6.73981748 L13.5047383,6.78958447 L11.0840699,8.96309903 L8.63565347,6.76470097 L11.0840699,4.56640971 L13.5047383,6.73981748 Z M14.8003681,2.38477864 L16.7483476,4.13377864 L14.8003681,5.88277864 L14.8003681,2.38477864 Z M13.5047383,5.87455534 L11.5659362,4.13377864 L13.5047383,2.39289515 L13.5047383,5.87455534 Z M26.091674,11.2442641 L25.9207589,11.2442641 L23.8555249,9.39807961 L26.091674,7.39041942 L26.091674,11.2442641 Z M20.6768051,2.15815728 L22.8906046,4.13719612 L20.3033398,6.46022524 L17.7120802,4.13377864 L19.9123835,2.15815728 L20.6768051,2.15815728 Z M8.40190026,2.15815728 L10.6022036,4.13377864 L8.01094396,6.46022524 L5.41968432,4.13377864 L7.61998766,2.15815728 L8.40190026,2.15815728 Z M2.25564833,2.15815728 L4.45595167,4.13377864 L2.21332442,6.14731262 L2.21332442,2.15815728 L2.25564833,2.15815728 Z M2.21332442,11.2442641 L2.21332442,7.38219612 L4.45595167,9.3957301 L2.39719589,11.2442641 L2.21332442,11.2442641 Z M7.47854807,11.2442641 L5.41979229,9.3957301 L8.01094396,7.0691767 L10.6022036,9.3957301 L8.54333985,11.2442641 L7.47854807,11.2442641 Z M19.770944,11.2442641 L17.7120802,9.3957301 L20.2937306,7.07772039 L22.8906046,9.39925437 L20.8357357,11.2442641 L19.770944,11.2442641 Z M41.6125635,0.378720388 C41.176908,-0.0239009709 40.4936792,-0.00115339806 40.0864195,0.429768932 L36.7475815,3.96343883 C36.5065943,4.21846796 36.4175198,4.55914757 36.4743116,4.87836117 L29.7936123,11.9491184 L28.1430879,11.9616136 L28.1430879,0.129031068 L0.16191054,0.129031068 L0.16191054,13.2733903 L28.1430879,13.2733903 L28.1430879,13.2432738 L30.08189,13.2285359 C30.2594992,13.2271476 30.4287949,13.1536718 30.5501522,13.0251961 L37.4204452,5.75387573 C37.4589902,5.75793398 37.4975352,5.76060388 37.5361882,5.76060388 C37.8247897,5.76060388 38.1126355,5.64686602 38.3252267,5.4218466 L41.6641728,1.8881767 C42.0713244,1.45725437 42.048219,0.781448544 41.6125635,0.378720388 L41.6125635,0.378720388 Z" id="Fill-9"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
{% else %}

{% endcase %}
