{% section 'account-banner' %}
{% include 'interior-title', title: "Activate Account" %}
<div class="container" id="account-page">
  
  {% form 'activate_customer_password' %}
    {% if form.errors %}
      <div class="account-input-div">
          {{ form.errors | default_errors }}
      </div>
   {% endif %}

    <div class="account-input-div">
      <input type="password" name="customer[password]" id="CustomerPassword" placeholder="Password">
    </div>

    <div class="account-input-div">
      <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="Confirm Password">
    </div>

    <div class="account-input-div">
      <input type="submit" value="ACTIVATE" class="theme-button">
    </div>
  {% endform %}
</div>
