{% schema %}
{
	"name": "Helpful Links",
	"settings": [
		{
			"id": "banner-background",
			"type": "image_picker",
			"label": "Banner Background"
		},
		{
			"id": "section-title",
			"type": "text",
			"label": "Page Title",
			"default": "Contact Us"
		},
		{
			"id": "menu-list",
			"type": "link_list",
			"label": "Side Menu Link List",
			"info": "The title is taken from the first word of the link list title. It removes 'Side Menu' from the list title"
		}
	],
	"blocks": [
		{
			"name": "Link Blocks",
			"type": "links",
			"settings": [
				{
					"id": "title",
					"type": "text",
					"label": "Title"
				},
				{
					"id": "tip",
					"type": "richtext",
					"label": "Text/Links"
				}
			]
		}
	]
}
{% endschema %}

{% include 'page-banner', background: section.settings.banner-background %}
{% include 'interior-title', title: section.settings.section-title %}
<section class="interior-page">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'interior-side-menu', list: section.settings.menu-list %}
			</div>
			<div class="col-md-9">
				{% for block in section.blocks %}
					<div class="interior-accordion">
						<div class="accordion-title">
							<h6 class="dots left">{{ block.settings.title }}</h6>
						</div>
						<div class="accordion-content">
							<div class="links">{{ block.settings.tip | newline_to_br }}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<script>
  
  $('#helpful-links .accordion-content a').attr('target', '_blank');
  
</script>