header .header-wrapper .top-nav ul {
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .top-nav li:last-child a {
  margin-right: 0;
}
header .m-nav_bottom .fa-user:before {
  display: none;
}
header .m-nav_bottom .fa-user:before {
  display: none;
}
header .m-nav_bottom .fa-user {
  width: 23px;
  height: 23px;
  background: url(icon-account.svg) no-repeat/100%;
}
