body.announcement-visible {
  padding-top: 150px;
}
body.announcement-hide {
  padding-top: 115px;
}
header .header-wrapper .top-nav ul {
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .top-nav li:last-child a {
  margin-right: 0;
}
header .header-wrapper .m-nav_bottom .fa-user:before {
  display: none;
}
header .header-wrapper .m-nav_bottom .fa-user:before {
  display: none;
}
header .header-wrapper .m-nav_bottom .fa-user {
  width: 23px;
  height: 23px;
  background: url(icon-account.svg) no-repeat center/100%;
  top: 6px;
  position: relative;
}
.header-wrapper .m-nav_logo {
  width: 120px;
}
header .header-wrapper .m-nav_link-submenu ul li a {
  text-transform: capitalize !important;
  font-size: 14px !important;
  font-family: avenir-medium, sans-serif !important;
  line-height: 1.3 !important;
}
header .header-wrapper .m-nav_link-submenu ul li {
  margin-bottom: 5px;
}
header .header-wrapper .m-nav_link-submenu ul li:last-child {
  margin-bottom: 0;
}
header .header-wrapper .nav-dropdowns .nav-dropdown.m-nav_link-submenu--easy {
  border-right: 1px solid #e3dad0;
  border-bottom: 1px solid #e3dad0;
  border-left: 1px solid #e3dad0;
  max-width: 250px;
  box-shadow: none;
}
header .header-wrapper .m-nav_link:after {
  display: none;
}
header .header-wrapper .m-nav_link {
  border-bottom: 1px solid #e3dad0;
}
header .header-wrapper .m-nav_link-submenu--shop .container {
  padding: 0 40px;
  width: 100%;
}
header .header-wrapper .m-nav_link-submenu--shop .container .row .m-nav_list {
  border-right: 1px solid #e3dad0;
  padding: 40px 40px;
}
header .header-wrapper input::placeholder {
  color: #443e37;
}
header
  .header-wrapper
  .m-nav_link-submenu--shop
  .container
  .row
  .m-nav_list:last-child {
  border-right: 0;
}
header
  .header-wrapper
  .m-nav_link-submenu--shop
  .container
  .row
  .m-nav_sublist {
  border-top: 0 !important;
  margin-top: 0px;
  padding-top: 13px !important;
}
header
  .header-wrapper
  .m-nav_link-submenu--shop
  .container
  .row
  .m-nav_sublist
  ul
  li {
  margin-bottom: 5px;
  line-height: normal;
}
header .header-wrapper .m-nav_link-submenu ul li.shop-all a {
  font-family: savu-condensed, sans-serif !important;
  font-size: 16px !important;
  align-self: stretch;
  line-height: 1.3 !important;
  letter-spacing: 0.8px;
  font-weight: normal;
}
header .header-wrapper .m-nav_link-submenu ul li.shop-all a:hover {
  text-decoration: underline !important;
}
.boost-sd__suggestion-queries-item-price {
  font-family: avenir-medium, sans-serif !important;
  font-weight: normal !important;
}
header
  .header-wrapper
  .m-nav_link-submenu--shop
  .m-nav_drop-section
  + .m-nav_drop-section {
  margin-top: 40px !important;
}
header .header-wrapper .col-sm-3 {
  width: 25% !important;
}
header .header-wrapper .m-nav_link-submenu.m-nav_link-submenu--shop {
  padding: 0 !important;
  border-bottom: 1px solid #e3dad0;
  box-shadow: none;
}
header .header-wrapper .ipad-none {
  display: inline-block;
}
/* header responsive  */
@media (max-width: 991px) {
  header .header-wrapper .top-nav {
    display: none;
  }
  header .header-wrapper .ipad-none {
    display: none !important;
  }
  header .header-wrapper .m-nav_logo {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  header .header-wrapper .m-nav_list--actions.l-float_right {
    float: none;
    display: flex;
    justify-content: space-between;
  }
  header .header-wrapper .m-nav_bottom {
    height: 83px !important;
  }
  header .header-wrapper .m-nav_list--actions.l-float_right li .m-nav_link {
    height: 100% !important;
    padding: 20px !important;
    line-height: normal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .header-wrapper .m-nav_list--actions.l-float_right li {
    /* max-width: 82px; */
    width: 100px;
    height: 82px;
  }
  header
    .header-wrapper
    .m-nav_list--actions.l-float_right
    li
    a
    .custom-menu-icon {
    display: flex;
    width: 42px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* top: 0; */
  }
  header .header-wrapper .custom-menu-icon div {
    margin-bottom: 10px;
    width: 100%;
  }
  header .header-wrapper .m-nav_list--actions.l-float_right li.flyout-button {
    border-right: 1px solid #e3dad0;
  }
  header .header-wrapper .cart img {
    height: 42px;
    object-fit: contain;
  }
  header
    .header-wrapper
    .m-nav_list--actions.l-float_right
    li.flyout-button.active
    .custom-menu-icon
    div {
    margin-bottom: 5px;
  }
  header #flyout.mobile-menu {
    left: 0;
    right: auto;
    max-width: 100vh !important;
    height: calc(100vh - 130px) !important;
    box-shadow: none;
    border-top: 1px solid #e3dad0;
  }
  header #flyout.mobile-menu .mobile-link {
    background: #f9f2e8;
  }
  header #flyout.mobile-menu .top-title {
    padding: 18px !important;
  }
  header #flyout.mobile-menu .top-title h6 {
    text-align: left !important;
    font-size: 14px !important;
  }
  header #flyout.mobile-menu .top-title:before {
    display: none;
  }
  header #flyout.mobile-menu .top-title:after {
    content: "";
    width: 16px;
    height: 18px;
    background: url(icon-arrow-dropdown.svg) no-repeat center/100%;
  }
  header #flyout.mobile-menu .top-title.active:after {
    transform: rotate(180deg);
    opacity: 1 !important;
    top: calc(50% - 6px);
  }
  header #flyout.mobile-menu .search {
    padding: 18px;
    border-bottom: 1px solid #e3dad0;
  }
  header #flyout.mobile-menu .m-nav_search {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 45px;
  }
  header #flyout.mobile-menu .m-nav_search input {
    height: 45px;
  }
  header #flyout.mobile-menu .m-nav_search input::placeholder {
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: #443e37;
  }
  #flyout.mobile-menu .accordion-title.top-title.active {
    position: absolute !important;
    top: 0;
    background: white;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #e3dad0;
  }
  #flyout.mobile-menu .accordion-content {
    position: absolute;
    top: 62px;
    background: white;
    height: 100vh;
    z-index: 10;
    width: 100%;
    left: 0;
    padding-top: 20px;
  }
  #flyout.mobile-menu .shop .accordion-content {
    padding-top: 0;
  }
  #flyout.mobile-menu .shop .accordion-title.top-title.active {
    border-bottom: 0 !important;
  }
  #flyout.mobile-menu .sub-accordion-container .sub-title img {
    display: none;
  }
  #flyout.mobile-menu .sub-accordion-container .sub-title {
    padding: 0;
  }
  #flyout.mobile-menu .sub-accordion-container .sub-title h6 {
    padding: 18px;
    font-size: 14px;
    /* font-weight: 700; */
  }
  #flyout.mobile-menu .sub-accordion-container .sub-title:after {
    background: url(icon-plus-accordion.svg) no-repeat center/100%;
    width: 16px;
    height: 16px;
    top: 21px;
    content: "";
  }
  #flyout.mobile-menu .sub-accordion-container .sub-title.active:after {
    background: url(icon-accordion-minus.svg) no-repeat center/100%;
  }
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title) {
    padding: 0 20px !important;
    font-family: avenir-regular, sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: unset;
    text-transform: capitalize;
    margin-top: 0;
    color: #443e37;
    margin-bottom: 10px;
  }
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title):last-child {
    border-bottom: 1px solid #e3dad0;
    padding-bottom: 20px !important;
  }
  #flyout.mobile-menu
    .accordion-container.shop
    .accordion-content
    a:not(.sub-title):last-child {
    border-bottom: 0;
    padding-bottom: 0px !important;
  }
  #flyout.mobile-menu .m-nav_sublink--link {
    font-family: avenir-medium, sans-serif !important;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 0;
    color: #443e37;
  }
  #flyout.mobile-menu .m-nav_sublink--link:hover,
  #flyout.mobile-menu .m-nav_sublink--link:focus,
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title):hover,
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title):focus {
    color: #e5622e;
  }
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title).shop-all {
    font-family: savu-condensed, sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #e57634;
  }
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title).shop-all:hover,
  #flyout.mobile-menu
    .accordion-container
    .accordion-content
    a:not(.sub-title).shop-all:focus {
    text-decoration: underline !important;
  }
  .header-wrapper .m-nav_logo {
    width: 90px;
    height: 100px;
  }
  header #flyout.mobile-menu .account-link .top-title {
    padding-left: 41px !important;
  }
  header #flyout.mobile-menu .account-link .top-title:after {
    background: url(icon-account.svg) no-repeat center/100%;
    opacity: 1;
    left: 20px;
    width: 11px;
    height: 11px;
    content: "";
  }
  header #flyout.mobile-menu .mobile-link {
    position: relative;
  }
  header #flyout.mobile-menu .mobile-link:before {
    position: absolute;
    background: #f9f2e8;
    content: "";
    width: 100%;
    height: calc(100vh - 36vh);
    left: 0;
  }
}
@media (max-width: 650px) {
  header .header-wrapper .m-nav_list--actions.l-float_right li {
    width: 82px;
  }
  ul.m-nav_list li {
    display: inline-block !important;
  }
  header .header-wrapper .m-nav_logo {
    left: 50%;
    right: auto;
  }
}
@media (max-width: 430px) {
  body.announcement-visible {
    padding-top: 172px;
  }
}

.grid-product .yotpo .text-m {
  width: fit-content;
  margin-top: 5px;
  color: #443e37 !important;
  font-family: avenir-medium, sans-serif !important;
  font-size: 14px;
  font-style: normal !important;
  font-weight: 500;
  line-height: normal;
}

.grid-product .yotpo .standalone-bottomline .star-clickable {
  flex-direction: row;
  flex-wrap: wrap;
}
