header .header-wrapper .top-nav ul {
  display: flex;
  justify-content: space-between;
}
header .header-wrapper .top-nav li:last-child a {
  margin-right: 0;
}
header .header-wrapper .m-nav_bottom .fa-user:before {
  display: none;
}
header .header-wrapper .m-nav_bottom .fa-user:before {
  display: none;
}
header .header-wrapper .m-nav_bottom .fa-user {
  width: 23px;
  height: 23px;
  background: url(icon-account.svg) no-repeat center/100%;
  top: 6px;
  position: relative;
}
.header-wrapper .m-nav_logo {
  width: 120px;
}
header .header-wrapper .m-nav_link-submenu ul li a {
  text-transform: capitalize !important;
  font-size: 14px !important;
  font-family: avenir-medium, sans-serif !important;
  line-height: 1.1 !important;
}
header .header-wrapper .m-nav_link-submenu ul li {
  margin-bottom: 20px;
}
header .header-wrapper .m-nav_link-submenu ul li:last-child {
  margin-bottom: 0;
}
header .header-wrapper .nav-dropdowns .nav-dropdown.m-nav_link-submenu--easy {
  border-right: 1px solid #e3dad0;
  border-bottom: 1px solid #e3dad0;
  border-left: 1px solid #e3dad0;
  max-width: 250px;
  box-shadow: none;
}
header .header-wrapper .m-nav_link:after {
  display: none;
}
header .header-wrapper .m-nav_link {
  border-bottom: 1px solid #e3dad0;
}
