*:root {
  --nh-dark-color: #443e37;
  --nh-light-color: #fef9f3;
  --nh-border-color: #e3dad0;
  --nh-orange-color: #e57634;
  --nh-orange-rgb-color: 229, 118, 52;
  --nh-white-color: #fff;
  --nh-black-color: #000;
  --nh-green-color: #60803f;
}
/* Global css for home page */
*:focus {
  outline: 0;
}
.tab-section-with-slider .container,
.nh-text-section .container,
#home-products-slider .container,
.five-column-logo-section .container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1340px;
  width: 100%;
  margin: auto;
}
.home-hero-slider .m-slide_title,
.home-hero-slider .m-slide_subtitle,
.home-hero-slider .m-slide_content,
.nh-text-section .m-divider_header,
.nh-text-section .m-divider_subheader,
.nh-text-section .m-divider_text {
  text-shadow: none;
}
.home-hero-slider .m-slide_title,
.nh-text-section .m-divider_title {
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}
.nh-text-section .m-divider_title {
  margin-bottom: 0;
}
.home-hero-slider .m-slide_subtitle,
.nh-text-section .m-divider_subtitle,
.yotpo-review-slider .m-divider_subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 7px;
  font-weight: 400;
  font-family: savu-bold-condensed, sans-serif;
}
.home-hero-slider .m-slide_content,
.nh-text-section .m-divider_text {
  margin: 7px auto 25px;
}
.home-hero-slider .m-slide_content p,
.nh-text-section .m-divider_text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.home-hero-slider .m-btn:before,
.nh-text-section .m-btn:before {
  display: none;
}
.home-hero-slider .m-btn,
.nh-text-section .m-btn {
  padding: 13px 15px;
  background-color: var(--nh-orange-color);
  height: auto;
  letter-spacing: 0;
  line-height: 12px;
  border: 1px solid var(--nh-orange-color);
  -webkit-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
}
.home-hero-slider .m-btn:hover,
.nh-text-section .m-btn:hover {
  border-color: var(--nh-border-color);
  background-color: var(--nh-light-color);
  color: var(--nh-dark-color);
}
.nh-text-section .m-divider_overlay {
  background-color: var(--nh-black-color);
}
@media (max-width: 767px) {
  .home-hero-slider .m-slide_subtitle {
    margin-bottom: 8px;
  }
  .nh-text-section .m-divider_subtitle,
  .yotpo-review-slider .m-divider_subtitle {
    margin-bottom: 3px;
  }
  .nh-text-section .m-divider_title {
    margin-bottom: 0;
    max-width: 100%;
  }
}
/* Hero Slider */
.home-hero-slider {
  background-color: var(--nh-light-color);
}
.home-hero-slider .owl-nav .owl-prev,
.home-hero-slider .owl-nav .owl-next {
  position: absolute;
  top: calc(50% + 20px);
  transform: translateY(-50%);
}
.home-hero-slider .owl-nav .owl-prev {
  left: calc(100vw / 2 - 1370px / 2);
}
.home-hero-slider .owl-nav .owl-next {
  right: calc(100vw / 2 - 1370px / 2);
}
@media (max-width: 1370px) {
  .home-hero-slider .owl-nav .owl-prev {
    left: 35px;
  }
  .home-hero-slider .owl-nav .owl-next {
    right: 35px;
  }
}
@media (max-width: 1100px) {
  .home-hero-slider .owl-nav .owl-prev {
    left: 10px;
  }
  .home-hero-slider .owl-nav .owl-next {
    right: 10px;
  }
}
.home-hero-slider .owl-nav .nav-arrow {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.home-hero-slider .owl-nav .nav-arrow svg * {
  transition: 0.3s ease all;
}
.home-hero-slider .owl-nav .nav-arrow.prev-arrow svg {
  vertical-align: middle;
}
.home-hero-slider .owl-nav .nav-arrow:hover svg circle {
  fill: var(--nh-orange-color);
  stroke: var(--nh-orange-color);
}
.home-hero-slider .owl-nav .nav-arrow:hover path {
  stroke: var(--nh-white-color);
}
.home-hero-slider .owl-dots {
  display: flex !important;
  width: 325px;
  height: 2px;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 0px;
}

.home-hero-slider .owl-dots .owl-dot {
  display: inline-flex;
  width: unset !important;
  flex: 1 1 auto;
  margin: 0;
  height: 1px;
  border-radius: 0;
  background-color: rgba(var(--nh-orange-rgb-color), 0.3);
}

.home-hero-slider .owl-dots .owl-dot.active {
  height: 2px;
  transform: translateY(-50%);
  background-color: rgba(var(--nh-orange-rgb-color), 1);
}

.home-hero-slider * {
  color: var(--nh-white-color);
}
.home-hero-slider {
  overflow: hidden;
  padding: 0;
  top: unset;
}
.home-hero-slider .m-slider_landing {
  margin: 0;
  padding: 0;
}
.home-hero-slider.m-slider_container + .shopify-section {
  margin-top: 0;
}
.home-hero-slider .m-slide {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  width: 1181px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1300px) {
  .home-hero-slider .m-slide {
    width: 1000px;
  }
}
@media (max-width: 1100px) {
  .home-hero-slider .m-slide {
    width: 860px;
  }
}
@media (max-width: 990px) {
  .home-hero-slider .m-slide {
    width: 700px !important;
  }
  .home-hero-slider .m-slide_content {
    padding: 0 20px;
  }
}
@media (max-width: 750px) {
  .home-hero-slider .m-slide {
    width: 500px !important;
  }
}
@media (max-width: 550px) {
  .home-hero-slider .m-slide {
    width: 400px !important;
  }
}
.home-hero-slider .m-slide_contents.l-text_center {
  opacity: 0;
  transition: 0.3s ease opacity;
  position: relative;
  z-index: 3;
}
.home-hero-slider .active.center .m-slide_contents.l-text_center {
  opacity: 1;
  margin-top: 52px;
}
.home-hero-slider .active.center .m-slide {
  transform: scaleX(1.05);
  z-index: 2;
  height: 450px;
  min-height: 450px;
}
.home-hero-slider .m-slide {
  height: 480px;
  min-height: 480px;
}
.home-hero-slider .m-slide .l-table {
  position: relative;
  z-index: 3;
}
.home-hero-slider .m-slide_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--nh-black-color);
  z-index: 2;
}
.home-hero-slider .image-section {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--nh-dark-color);
  height: 100%;
  z-index: 0;
}
.home-hero-slider .image-section img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .home-hero-slider .m-slide_content,
  .home-hero-slider .m-slide {
    padding: 0 5px;
  }
  .home-hero-slider .m-slide_title {
    font-size: 23px;
    letter-spacing: 1.15px;
    margin-bottom: 0;
  }
  .home-hero-slider .m-slide_subtitle {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .home-hero-slider .m-slide_content {
    margin: 8px auto 18px;
  }
  .home-hero-slider .m-slide_content p {
    font-size: 14px;
  }
  /* .home-hero-slider {
    padding-top: 30px;
  } */
}
@media (max-width: 450px) {
  .home-hero-slider .owl-dots:not(.disabled) {
    width: 220px;
  }
  .home-hero-slider .m-slide {
    width: 275px !important;
  }
  .home-hero-slider .active.center .m-slide {
    -webkit-transform: scaleX(1.092);
    transform: scaleX(1.092);
  }
  .home-hero-slider .active.center .m-slide_contents.l-text_center {
    margin-top: 60px;
  }
  .home-hero-slider .m-slide {
    height: 100%;
    min-height: 430px;
  }
  .home-hero-slider .active.center .m-slide {
    height: 100%;
    min-height: 400px;
  }
}
/* Full width section (bg-color) with bottom graphic */
.full-width-content-with-graphic {
  padding: 120px 0 160px;
  position: relative;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--nh-border-color);
}
.full-width-content-with-graphic .m-divider_subtitle,
.full-width-content-with-graphic .m-divider_title,
.full-width-content-with-graphic .m-divider_text,
.full-width-content-with-graphic .m-divider_text p {
  color: var(--nh-dark-color) !important;
}
.full-width-content-with-graphic .image-section {
  width: 100%;
  max-width: 310px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.full-width-content-with-graphic .image-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .full-width-content-with-graphic {
    padding: 50px 0 80px;
    position: relative;
    margin: 0;
    margin-bottom: 48px;
  }
  .full-width-content-with-graphic .image-section {
    height: 96px;
  }
  .nh-text-section .m-divider_title {
    font-size: 25px;
    letter-spacing: 1.25px;
  }
  .nh-text-section .m-divider_subtitle,
  .yotpo-review-slider .m-divider_subtitle {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
  }
  .nh-text-section .m-divider_text {
    margin: 3px auto 20px;
  }
  .nh-text-section .m-divider_text p {
    font-size: 14px;
  }
}

/* Product slider section */
#home-products-slider {
  padding: 80px 0 95px;
}
#home-products-slider .l-text_center * {
  color: var(--nh-dark-color);
}
#home-products-slider h2 {
  font-family: savu-bold-condensed, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 7px;
  /* font-weight: 700; */
}
.yotpo-review-slider .m-title,
#home-products-slider h3 {
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 1.25px;
  margin-bottom: 0px;
}
#home-products-slider .m-divider_text {
  margin: 7px auto 25px;
  text-shadow: none;
}
#home-products-slider .m-divider_text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
#home-products-slider .slider-container {
  /* padding-right: 0;
    padding-left: calc(100vw / 2 - 1340px / 2);
    width: 100%; */
}
#home-products-slider .owl-carousel {
  padding: 0;
}
#home-products-slider .owl-carousel .owl-stage {
  display: flex;
  padding-right: 0;
  padding-left: calc(100vw / 2 - 1280px / 2);
}
#home-products-slider .owl-carousel .owl-nav {
  max-width: 1280px;
  width: calc(100% - 60px);
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
#home-products-slider .owl-nav .owl-prev,
#home-products-slider .owl-nav .owl-next {
  position: absolute;
  bottom: 0;
}
#home-products-slider .owl-nav .owl-prev {
  left: 0;
}
#home-products-slider .owl-nav .owl-next {
  right: 0;
}
#home-products-slider .owl-nav .nav-arrow {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#home-products-slider .owl-nav .nav-arrow svg * {
  transition: 0.3s ease all;
}
#home-products-slider .owl-nav .nav-arrow.prev-arrow svg {
  vertical-align: middle;
}
#home-products-slider .owl-nav .nav-arrow:hover svg circle {
  fill: var(--nh-orange-color);
  stroke: var(--nh-orange-color);
}
#home-products-slider .owl-nav .nav-arrow:hover path {
  stroke: var(--nh-white-color);
}
#home-products-slider .owl-carousel .owl-dots:not(.disabled) {
  display: flex !important;
  max-width: 1180px;
  width: calc(100% - 140px);
  height: 2px;
  margin: auto;
  margin-top: -15px;
  position: relative;
  z-index: 2;
}
#home-products-slider .owl-dots .owl-dot {
  display: inline-flex;
  width: unset !important;
  flex: 1 1 auto;
  margin: 0;
  height: 1px;
  border-radius: 0;
  background-color: rgba(var(--nh-orange-rgb-color), 0.3);
}
#home-products-slider .owl-dots .owl-dot.active {
  height: 2px;
  transform: translateY(-50%);
  background-color: rgba(var(--nh-orange-rgb-color), 1);
}

/* Product card */
#home-products-slider .owl-carousel .product-card {
  height: 100%;
  padding: 20px 40px;
  border: solid 1px var(--nh-border-color);
}
.product-card .pic {
  padding: 0;
}
.product-card .image-section {
  overflow: hidden !important;
  position: relative !important;
  height: 275px !important;
  background: var(--nh-white-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-card .image-section .m-btn:before {
  display: none;
}
.product-card .image-section .add-to-cart-form {
  width: calc(100% - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  opacity: 0;
  /* -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; */
}
.product-card:hover .image-section .add-to-cart-form {
  opacity: 1;
}
.product-card .image-section .m-btn {
  width: 100%;
  z-index: 2;
  padding: 13px 15px;
  height: auto;
  letter-spacing: 0;
  line-height: 12px;
  background-color: var(--nh-orange-color);
  border: 1px solid var(--nh-orange-color);
  -webkit-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
}
.product-card .image-section .m-btn:hover {
  border-color: var(--nh-border-color);
  background-color: var(--nh-light-color);
  color: var(--nh-dark-color);
}
.product-card .pic img {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  object-position: top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible !important;
  border-radius: 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.product-card .image-section img:first-child {
  visibility: visible;
  opacity: 1;
}
.product-card:hover .image-section img {
  visibility: hidden;
  opacity: 0;
  transform: none;
}
.product-card:hover .image-section img:last-child {
  visibility: visible;
  opacity: 1;
}
.product-card .info p,
.product-card .info .m-product-card_price {
  color: var(--nh-dark-color);
}
.product-card .info p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}
.product-card .info .m-product-card_price {
  font-family: avenir-medium, sans-serif;
  font-size: 14px;
  /* font-weight: 500; */
  line-height: 1.5;
}
/* .product tags */
.product-card .product-tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-left: -10px;
}
.product-card .product-tags > div {
  margin-left: 10px;
  margin-bottom: 3px;
  position: unset;
  padding: 1px 7.18px;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: avenir-medium, sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 1.3;
  height: auto;
  text-align: center;
  width: auto;
  padding: 6px 10px 4px;
}
.product-card .product-tags .collection-tag {
  background-color: var(--nh-green-color);
  color: var(--nh-white-color);
}
@media (max-width: 1350px) {
  #home-products-slider .owl-carousel .owl-stage {
    padding-left: 30px;
  }
}
@media (max-width: 1023px) {
  #home-products-slider .owl-carousel .product-card {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  #home-products-slider {
    padding: 12px 0 75px;
  }
  #home-products-slider h2 {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    margin-bottom: 3px;
  }
  #home-products-slider h3 {
    font-size: 23px;
    line-height: 1.4;
    letter-spacing: 1.15px;
  }
  #home-products-slider .m-divider_text {
    margin: 3px auto 20px;
  }
  #home-products-slider .m-divider_text p {
    font-size: 14px;
  }
  .product-card .image-section {
    height: 200px !important;
  }
}
@media (max-width: 480px) {
  .product-card .info p {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
    margin-top: 14px;
  }
  .product-card .image-section .m-btn {
    padding: 8px 5px;
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .product-card .image-section {
    height: 150px !important;
  }
}
/* Full width content with bg img */
.full-width-content-with-bg-img {
  position: relative;
  padding: 134px 0;
}
.full-width-content-with-bg-img .content {
  position: relative;
  z-index: 2;
}
.full-width-content-with-bg-img .image-section {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--nh-dark-color);
  height: 100%;
  z-index: -1;
}
.full-width-content-with-bg-img .image-section img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .full-width-content-with-bg-img {
    padding: 105px 0;
  }
}
/* tab section with slider */
.tab-section-with-slider {
  padding: 80px 0 55px;
}
.tab-section-with-slider .m-divider_text p {
  font-size: 14px;
}
.tab-section-with-slider *,
.tab-section-with-slider p {
  color: var(--nh-dark-color);
}
.tab-section-with-slider ul.tab-nav {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-left: -20px;
  padding: 0;
}
.tab-section-with-slider ul.tab-nav li {
  cursor: pointer;
  background-color: var(--nh-orange-color);
  color: var(--nh-white-color);
  display: inline-block;
  font-family: savu-bold, sans-serif;
  font-size: 12px;
  margin-left: 20px;
  padding: 7.2px 9.3px;
  height: auto;
  letter-spacing: 0.6px;
  line-height: 12px;
  border: 1px solid var(--nh-orange-color);
  -webkit-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
}
.tab-section-with-slider ul.tab-nav li:hover,
.tab-section-with-slider ul.tab-nav li:focus,
.tab-section-with-slider ul.tab-nav li.active {
  border-color: var(--nh-border-color);
  background-color: var(--nh-light-color);
  color: var(--nh-dark-color);
}
.tab-section-with-slider .tab-pane {
  display: none;
  position: relative;
}
.tab-section-with-slider .tab-pane.active {
  display: block;
}
.tab-section-with-slider .tab-content {
  margin-top: 30px;
}
.tab-section-with-slider .owl-carousel .owl-stage {
  /* width: 100% !important; */
  /* justify-content: center; */
  margin: 0 auto;
  display: flex;
  padding-right: 0;
  padding-left: calc(50vw - 640px);
}
.tab-section-with-slider .owl-carousel.left-space .owl-stage {
  padding-left: calc(50vw - 640px);
}
.tab-section-with-slider .owl-carousel .item {
  height: 100%;
  padding: 40px;
  border: solid 1px var(--nh-border-color);
}
.tab-section-with-slider .owl-carousel .item .image-section {
  position: relative;
  /* height: 240px; */
  max-height: 240px;
  height: 16.667vw;
  background: var(--nh-white-color);
  width: 100%;
}
.tab-section-with-slider .owl-carousel .item .image-section img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tab-section-with-slider ul.owl-carousel {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-section-with-slider .owl-carousel .item h4 {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  /* font-weight: 700; */
  font-family: savu-bold-condensed, sans-serif;
}
.tab-section-with-slider .pages-carousel .item h4 {
  text-align: center;
}
.tab-section-with-slider .owl-carousel .owl-nav {
  max-width: 1088px;
  width: calc(100% - 60px);
  margin: auto;
  margin-left: calc(100vw / 2 - 1280px / 2);
  padding: 0;
  position: relative;
  padding-top: 60px;
  z-index: 1;
}
.tab-section-with-slider .owl-carousel .owl-nav .owl-prev,
.tab-section-with-slider .owl-carousel .owl-nav .owl-next {
  position: absolute;
  bottom: 0;
}
.tab-section-with-slider .owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.tab-section-with-slider .owl-carousel .owl-nav .owl-next {
  right: 0;
}
.tab-section-with-slider .owl-carousel .owl-nav .nav-arrow {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.tab-section-with-slider .owl-carousel .owl-nav .nav-arrow svg * {
  transition: 0.3s ease all;
}
.tab-section-with-slider .owl-carousel .owl-nav .nav-arrow.prev-arrow svg {
  vertical-align: middle;
}
.tab-section-with-slider .owl-carousel .owl-nav .nav-arrow:hover svg circle {
  fill: var(--nh-orange-color);
  stroke: var(--nh-orange-color);
}
.tab-section-with-slider .owl-carousel .owl-nav .nav-arrow:hover path {
  stroke: var(--nh-white-color);
}
.tab-section-with-slider .owl-carousel .owl-dots:not(.disabled) {
  display: flex;
  max-width: 1000px;
  width: calc(100% - 100px);
  height: 2px;
  margin: auto;
  margin-left: calc(100vw / 2 - 1192px / 2);
  margin-top: -15px;
  position: relative;
  z-index: 3;
}
.tab-section-with-slider .owl-carousel .owl-dots .owl-dot {
  display: inline-flex;
  width: unset !important;
  flex: 1 1 auto;
  margin: 0;
  height: 1px;
  border-radius: 0;
  background-color: rgba(var(--nh-orange-rgb-color), 0.3);
}
.tab-section-with-slider .owl-carousel .owl-dots .owl-dot.active {
  height: 2px;
  transform: translateY(-50%);
  background-color: rgba(var(--nh-orange-rgb-color), 1);
}
.tab-section-with-slider .m-btn::before {
  display: none;
}
.tab-section-with-slider .m-btn {
  max-width: 166px;
  width: 166px;
  text-align: center;
  background-color: var(--nh-orange-color);
  color: var(--nh-white-color);
  position: absolute;
  z-index: 3;
  /* bottom: 0; */
  /* transform: translateY(50%); */
  /* right: calc(100vw / 2 - 1280px / 2); */
  top: -24px;
  right: 80px;
  padding: 13px 5px;
  height: auto;
  letter-spacing: 0;
  line-height: 1.2;
  border: 1px solid var(--nh-orange-color);
  -webkit-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
}
.tab-section-with-slider .btn-wrapper.added-space {
  padding-top: 50px;
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}
.tab-section-with-slider .m-btn:hover {
  border-color: var(--nh-border-color);
  background-color: var(--nh-light-color);
  color: var(--nh-dark-color);
}
.tab-section-with-slider .owl-carousel.videos-carousel .owl-nav {
  width: calc(100% - 60px);
  max-width: 1280px;
}
.tab-section-with-slider
  .owl-carousel.videos-carousel
  .owl-dots:not(.disabled) {
  width: calc(100% - 150px);
  margin-left: 130px;
  max-width: 1180px;
}
.tab-section-with-slider .image-section .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: 0.3s ease transform;
}
.tab-section-with-slider .image-section .play-btn svg {
  width: 100%;
  height: 100%;
  display: block;
}
.tab-section-with-slider .image-section:hover .play-btn {
  transform: translate(-50%, -50%) scale(1.16);
}
@media (max-width: 1420px) {
  .tab-section-with-slider .owl-carousel .owl-dots:not(.disabled) {
    max-width: 69%;
  }
  .tab-section-with-slider .owl-carousel .owl-nav {
    max-width: 76%;
  }
}
@media (max-width: 1350px) {
  .tab-section-with-slider .owl-carousel .owl-stage {
    padding-left: 30px;
  }
  .tab-section-with-slider .owl-carousel .owl-nav {
    width: calc(100% - 230px);
    margin-left: 30px;
  }
  .tab-section-with-slider .owl-carousel .owl-dots:not(.disabled) {
    width: calc(100% - 310px);
    margin-left: 70px;
  }
  .tab-section-with-slider
    .owl-carousel.videos-carousel
    .owl-dots:not(.disabled) {
    margin-left: 75px;
  }
  .tab-section-with-slider .m-btn {
    right: 50px;
  }
}
@media (max-width: 1200px) {
  .tab-section-with-slider .m-btn {
    right: 40px;
  }
}
@media (max-width: 1023px) {
  .tab-section-with-slider .owl-carousel .item {
    padding: 20px;
  }
}
.tab-section-with-slider select.tab-dropdown {
  display: none;
}
@media (max-width: 767px) {
  .tab-section-with-slider .btn-wrapper.added-space {
    padding-top: 40px;
  }
  .tab-section-with-slider ul.tab-nav {
    display: none;
  }
  .tab-section-with-slider select.tab-dropdown:focus {
    outline: none;
  }
  .tab-section-with-slider select.tab-dropdown {
    display: block;
    width: 100%;
    border-radius: 0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: savu-bold, sans-serif;
    font-size: 12px !important;
    letter-spacing: 0.6px;
    line-height: 1.2;
    padding: 10px 36px 10px 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17 4.675-8 7-8-7' stroke='%23443E37' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: var(--nh-light-color);
    border: 1px solid var(--nh-border-color);
    color: var(--nh-dark-color);
  }
  .tab-section-with-slider {
    padding: 60px 0 20px;
  }
  .tab-section-with-slider .owl-carousel .item h4 {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    margin: 10px 0 0px;
  }
  .tab-section-with-slider .owl-carousel .owl-nav {
    width: calc(100% - 60px);
  }
  .tab-section-with-slider .owl-carousel .owl-dots:not(.disabled) {
    width: calc(100% - 150px);
    margin-left: 75px;
  }
  .tab-section-with-slider .tab-pane.active {
    text-align: center;
  }
  .tab-section-with-slider .m-btn {
    position: relative;
    margin: 0px auto;
    max-width: initial;
    right: 0;
    left: 0;
    transform: translateY(0%);
  }
  .tab-section-with-slider .m-divider_title {
    font-size: 23px;
    letter-spacing: 1.15px;
  }
  .tab-section-with-slider .image-section .play-btn {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1150px) {
  .tab-section-with-slider .owl-carousel .item .image-section {
    height: 26.667vw;
  }
}
@media (max-width: 800px) {
  .tab-section-with-slider .owl-carousel .item .image-section {
    height: 35vw;
    max-height: 280px;
  }
}
@media (max-width: 400px) {
  .tab-section-with-slider .owl-carousel .item .image-section {
    height: 33.336vw;
  }
}
@media (max-width: 350px) {
  .tab-section-with-slider .owl-carousel .item .image-section {
    height: 65vw;
  }
}
/* five column logo section */
.five-column-logo-section {
  padding: 40px 0 60px;
}
.five-column-logo-section .title {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.five-column-logo-section .title h2 {
  font-size: 16px;
  font-family: savu-bold-condensed, sans-serif;
  /* font-weight: 900; */
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.8px;
  display: inline-block;
  padding: 0 20px;
  background: var(--nh-white-color);
  position: relative;
  z-index: 2;
}
.five-column-logo-section .title:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--nh-border-color);
}
.five-column-logo-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.five-column-logo-section li {
  width: 20%;
  margin-bottom: 20px;
}
.five-column-logo-section .image-section {
  width: 100%;
  max-width: 120px;
  margin: auto;
  height: 120px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
.five-column-logo-section .image-section img {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.five-column-logo-section span {
  font-size: 16px;
  /* font-weight: 700; */
  letter-spacing: 0.8px;
  color: var(--nh-dark-color);
  display: block;
  font-family: "savu-bold", sans-serif;
  line-height: 1.4;
  padding: 18px 10px 0;
  text-align: center;
}
.five-column-logo-section .full-link {
  display: block;
}

@media only screen and (max-width: 1023px) {
  .five-column-logo-section li {
    width: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .five-column-logo-section {
    padding: 40px 0;
  }
  .five-column-logo-section li {
    width: 33.33%;
  }
}
@media only screen and (max-width: 480px) {
  .five-column-logo-section li {
    width: 50%;
  }
  .five-column-logo-section span {
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .five-column-logo-section .title h2 {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
  }
}

/* Review slider */
.yotpo-review-slider section {
  background-color: var(--nh-light-color);
  padding: 80px 0;
  border-top: solid 1px var(--nh-border-color);
  border-bottom: solid 1px var(--nh-border-color);
}
.yotpo-review-slider .yotpo-reviews-carousel {
  font-family: inherit;
  max-width: 1500px !important;
  margin: auto;
  width: 100%;
}
.yotpo-review-slider .yotpo-reviews-carousel .carousel-display-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.yotpo-review-slider .m-review_header {
  margin-bottom: 20px;
}
.yotpo-review-slider .m-title,
.yotpo-review-slider .m-divider_subtitle {
  color: var(--nh-dark-color);
}
.yotpo-review-slider .yotpo-reviews-carousel #carousel-top-panel,
.yotpo-review-slider .yotpo-reviews-carousel .yotpo-small-box.yotpo-label {
  display: none;
}
.yotpo-review-slider .yotpo .yotpo-icon-default-star:before,
.yotpo-review-slider .yotpo .yotpo-icon-star:before,
.yotpo-review-slider .yotpo .yotpo-icon-default-half-star:before,
.yotpo-review-slider .yotpo .yotpo-icon-half-star:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.yotpo-review-slider .yotpo .yotpo-icon-default-star:before,
.yotpo-review-slider .yotpo .yotpo-icon-star:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.088 2.545c.353-.787 1.47-.787 1.824 0L12.54 6.17a1 1 0 0 0 .804.584l3.951.428c.858.092 1.204 1.155.564 1.735l-2.945 2.668a1 1 0 0 0-.307.946l.814 3.89c.177.844-.727 1.501-1.476 1.072l-3.448-1.977a1 1 0 0 0-.994 0l-3.448 1.977c-.749.43-1.653-.228-1.476-1.072l.814-3.89a1 1 0 0 0-.307-.946L2.141 8.918c-.64-.58-.294-1.643.564-1.735l3.95-.428a1 1 0 0 0 .805-.584l1.628-3.626z' fill='%23E57634'/%3E%3C/svg%3E%0A");
}
.yotpo-review-slider .yotpo .yotpo-icon-default-half-star:before,
.yotpo-review-slider .yotpo .yotpo-icon-half-star:before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='3le14hyi0a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='1' y='1' width='18' height='17'%3E%3Cpath d='M9.544 2.75a.5.5 0 0 1 .912 0l1.627 3.625a1.5 1.5 0 0 0 1.208.877l3.95.428a.5.5 0 0 1 .283.867l-2.946 2.668a1.5 1.5 0 0 0-.46 1.42l.814 3.89a.5.5 0 0 1-.738.535l-3.448-1.976a1.5 1.5 0 0 0-1.492 0L5.806 17.06a.5.5 0 0 1-.738-.536l.815-3.89a1.5 1.5 0 0 0-.461-1.419L2.476 8.547a.5.5 0 0 1 .282-.867l3.951-.428a1.5 1.5 0 0 0 1.208-.877L9.544 2.75z' fill='%23fff' stroke='%23E57634'/%3E%3C/mask%3E%3Cg mask='url(%233le14hyi0a)'%3E%3Cpath d='M9.544 2.75a.5.5 0 0 1 .912 0l1.627 3.625a1.5 1.5 0 0 0 1.208.877l3.95.428a.5.5 0 0 1 .283.867l-2.946 2.668a1.5 1.5 0 0 0-.46 1.42l.814 3.89a.5.5 0 0 1-.738.535l-3.448-1.976a1.5 1.5 0 0 0-1.492 0L5.806 17.06a.5.5 0 0 1-.738-.536l.815-3.89a1.5 1.5 0 0 0-.461-1.419L2.476 8.547a.5.5 0 0 1 .282-.867l3.951-.428a1.5 1.5 0 0 0 1.208-.877L9.544 2.75z' fill='%23fff' stroke='%23E57634'/%3E%3Cpath fill='%23E57634' d='M0-.488h10v20H0z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .y-slider-container
  .single-carousel
  .product-image-container {
  width: 120px;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .big-version
  .right-side {
  width: calc(100% - 120px);
  padding-left: 40px;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .y-slider-container
  .single-carousel
  .product-image-container
  .y-carousel-product-image {
  width: 120px;
  height: 120px;
  border: 0 !important;
  background: var(--nh-white-color);
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .small-version {
  display: none !important;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .big-version {
  width: 600px;
  position: relative;
  display: block !important;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-product-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 13px;
  /* font-weight: 700; */
  color: var(--nh-dark-color);
  font-family: savu-bold-condensed, sans-serif;
  position: absolute;
  width: calc(100% - 140px);
  left: 160px;
  top: 26.5px;
  height: auto;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .stars-container {
  padding-bottom: 65px;
}
.yotpo-review-slider .yotpo-reviews-carousel .yotpo-icon-star,
.yotpo-review-slider .yotpo-reviews-carousel .yotpo-icon-empty-star,
.yotpo-review-slider .yotpo-reviews-carousel .yotpo-icon-full-star,
.yotpo-review-slider .yotpo-reviews-carousel .yotpo-icon-half-star {
  font-size: 20px !important;
  padding-right: 4px;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .single-carousel
  .carousel-review-date,
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-title {
  display: none;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-body {
  font-family: savu-bold, sans-serif;
  font-size: 20px;
  color: var(--nh-dark-color);
  letter-spacing: normal;
  /* font-weight: 800; */
  margin: 0 0 10px;
  padding-left: 19px;
  line-height: 1.4;
  font-style: normal !important;
  position: relative;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-body::before {
  content: "“";
  position: absolute;
  left: 0;
  top: 0;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-body::after {
  content: "”";
  padding-left: 5px;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-body:has(.carousel-read-more)::after {
  content: "";
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-read-more,
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-author {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 13px;
  font-weight: 400;
  color: var(--nh-dark-color);
  font-family: savu-bold-condensed, sans-serif;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-author {
  padding-left: 19px;
  position: relative;
}
.yotpo-review-slider
  .yotpo-reviews-carousel
  .carousel-display-wrapper
  .yotpo-carousel
  .carousel-review-author::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
}
/* .yotpo-review-slider .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel{padding: 0;} */
@media only screen and (max-width: 1023px) {
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .big-version {
    width: 450px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .yotpo-review-slider section {
    padding: 60px 0;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel {
    padding-top: 0;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .single-carousel {
    margin: 0 !important;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .big-version {
    width: calc(100vw - 60px);
    margin: 0 30px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .y-slider-container
    .single-carousel
    .product-image-container
    .y-carousel-product-image {
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .big-version
    .right-side {
    width: 100%;
    padding-left: 0;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-author {
    margin-bottom: 25px;
    font-size: 14px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-author,
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-body {
    padding-left: 12px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-body {
    font-size: 16px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .stars-container {
    padding-bottom: 60px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-body {
    margin-bottom: 10px;
  }
  .yotpo-review-slider
    .yotpo-reviews-carousel
    .carousel-display-wrapper
    .yotpo-carousel
    .carousel-review-product-text {
    font-size: 14px;
    left: 0;
    top: 125px;
  }
  .yotpo-review-slider .m-title {
    font-size: 23px;
    letter-spacing: 1.15px;
  }
}

/* Insta section */
.insta-section {
  /* max-width: 1440px; */
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.insta-section .l-text_orange {
  color: var(--nh-orange-color);
  font-size: 22px;
  line-height: 20px;
}
.insta-section ul.insta-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0;
}
.insta-section .middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.insta-section .rigt-insta {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.insta-section ul.insta-list li {
  width: 200px;
  height: 200px;
  text-decoration: none;
  list-style: none;
}
.insta-section ul.insta-list li .image-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.insta-section ul.insta-list li .image-section img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  -o-object-fit: cover;
  object-fit: cover;
}
.insta-section .m-instafeed_text,
.insta-section .m-instafeed_title {
  color: var(--nh-dark-color);
}
.insta-section .m-instafeed_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-top: 0;
  margin-bottom: 7px;
  display: block;
}
.insta-section .m-instafeed_title {
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 1.15px;
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .insta-section ul.insta-list {
    max-width: 340px;
  }
  .insta-section ul.insta-list li {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 1050px) {
  .insta-section ul.insta-list {
    max-width: 300px;
  }
  .insta-section ul.insta-list li {
    width: 150px;
    height: 150px;
  }
  .insta-section .m-instafeed_header {
    padding: 20px;
    min-width: 300px;
  }
  .insta-section .m-instafeed_title {
    display: flex;
    align-items: center;
    max-width: 285px;
    margin: auto;
  }
}
@media (max-width: 900px) {
  .insta-section ul.insta-list {
    max-width: 240px;
  }
  .insta-section ul.insta-list li {
    width: 180px;
    height: 180px;
  }
  .insta-section .m-instafeed_header {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 767px) {
  .insta-section .m-instafeed_text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
  }
  .insta-section .m-instafeed_title i {
    display: inline;
    font-size: 22.18px;
  }
  .insta-section .m-instafeed_title {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .insta-section .m-instafeed_title {
    max-width: 245px;
  }
}
@media screen and (max-width: 640px) {
  .insta-section {
    flex-wrap: wrap;
  }
  .insta-section .middle-section {
    width: 100%;
  }
  .insta-section ul.insta-list {
    max-width: 100%;
  }
  .insta-section ul.insta-list li {
    width: 50%;
  }
  .insta-section .m-instafeed_text {
    margin-bottom: 6px;
  }
}

/* Footer */
footer .container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0;
}
footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
footer .m-footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
  padding: 80px 80px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .m-footer_section + .m-footer_section {
  border-left: 1px solid var(--nh-border-color);
  margin-top: -20px;
}
footer .m-footer_subsection + .m-footer_subsection {
  margin-top: 0;
}
footer .m-footer_subsection.f-mobile-collapse {
  margin-top: 20px;
}
footer .m-footer_section.newsletter {
  max-width: 560px;
  flex-direction: column;
  justify-content: flex-start;
}
footer .m-footer_subheader {
  line-height: 1.4;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
footer span,
footer p,
footer .m-footer_menu-item,
footer .m-copyright {
  font-family: avenir-medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--nh-dark-color);
}
footer .m-copyright span {
  font-size: 12px;
}
footer .m-copyright .separator {
  display: inline-block;
  padding: 0 15px;
}
footer a:hover {
  color: var(--nh-orange-color);
}
footer .m-footer_menu li {
  margin-bottom: 7px;
}
footer .m-footer_section.newsletter p {
  margin-bottom: 7px;
}
footer .m-footer_section.newsletter .m-footer_subheader {
  margin-bottom: 5px;
}
footer .m-copyright {
  border-color: var(--nh-border-color);
  padding: 11.6px 20px;
}
footer .newsletter-form {
  margin-bottom: 30px;
}
.newsletter-form input[type="email"] {
  font-family: avenir-medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  color: var(--nh-dark-color);
  padding: 0 20px;
  border: solid 1px var(--nh-border-color);
  background-color: var(--nh-light-color);
  border-radius: 0;
  width: 100%;
  margin-bottom: 15px;
}
.newsletter-form .btn-submit {
  padding: 0 15px;
  border: 0;
  line-height: 39px;
  width: 100%;
  background-color: var(--nh-orange-color);
  color: var(--nh-white-color);
  font-family: savu-bold, sans-serif;
  font-size: 13px;
  border: 1px solid var(--nh-orange-color);
  -webkit-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  -ms-transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
  transition: background 0.2s ease-out, border 0.2s ease-out,
    color 0.2s ease-out;
}
.newsletter-form .btn-submit:hover {
  border-color: var(--nh-border-color);
  background-color: var(--nh-light-color);
  color: var(--nh-dark-color);
}
.newsletter-form form:focus,
.newsletter-form form *:focus {
  outline: none;
}
.newsletter-form .errors ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.newsletter-form .errors li {
  pointer-events: none;
  padding: 8px;
  list-style: none;
  color: var(--nh-orange-color);
  font-family: avenir-medium, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.newsletter-form p.form-success {
  margin-bottom: 10px;
  color: green;
  font-size: 16px;
}
.m-footer_social + .m-footer_social {
  margin-left: 15px;
}
.m-footer_social {
  width: 30px;
  height: 30px;
}
.m-footer_social svg {
  display: block;
  width: 100%;
  height: 100%;
}
.m-footer_social svg * {
  transition: 0.3s ease all;
}
.m-footer_social:hover svg path {
  fill: var(--nh-white-color);
}
.m-footer_social:hover svg circle {
  fill: var(--nh-orange-color);
  stroke: var(--nh-orange-color);
}
.m-footer_social:hover svg circle {
  fill: var(--nh-light-color);
  stroke: var(--nh-border-color);
}
.m-footer_social:hover svg path {
  fill: var(--nh-dark-color);
}
@media (max-width: 1100px) {
  footer .m-footer_section {
    padding: 80px 40px;
  }
}
@media only screen and (max-width: 980px) {
  footer .m-footer_subsection.f-mobile-collapse {
    margin-top: 0;
  }
  footer .m-footer_subsection .f-collapse-title {
    position: relative;
    margin-bottom: 0;
    padding: 20px 26px 20px 0;
    border-top: 1px solid var(--nh-border-color);
  }
  footer .m-footer_subsection .f-collapse-title:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17 4.675-8 7-8-7' stroke='%23443E37' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: right 0px center;
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    -webkit-transition: 0.4s ease transform;
    transition: 0.4s ease transform;
  }
  footer .m-footer_subsection .f-collapse-title.is-open:after {
    -webkit-transform: scale(1, -1) translateY(50%);
    transform: scaleY(1, -1) translateY(50%);
  }
  footer .m-footer_subsection .f-collapse-content {
    display: none;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid var(--nh-border-color);
  }
  footer .m-footer_section.newsletter,
  footer .m-footer_section {
    width: 100%;
    max-width: 590px;
    margin: auto;
  }
  footer .m-footer_section.newsletter {
    padding: 50px 20px;
  }
  footer .m-footer_section + .m-footer_section {
    border: 0;
    margin: 0 auto;
  }
  footer .m-footer_section {
    padding: 0 20px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 590px) {
  footer .m-footer_section {
    padding: 0;
  }
  footer .m-footer_section.newsletter {
    padding: 30px 20px;
  }
  footer .m-footer_subsection .f-collapse-title {
    padding: 20px 46px 20px 20px;
  }
  footer .m-footer_subsection .f-collapse-title:after {
    right: 20px;
  }
  footer .m-footer_subsection .f-collapse-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .m-copyright {
    padding: 23.42px 20px;
  }
  footer .m-copyright .separator {
    display: none;
  }
  footer .m-copyright span {
    display: block;
  }
  footer span,
  footer .m-copyright {
    font-size: 12px;
    line-height: 1.67;
  }
  .newsletter-form input[type="email"] {
    font-size: 14px !important;
  }
  footer .m-footer_subheader {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
  }
  footer .m-footer_section.newsletter .m-footer_subheader {
    margin-bottom: 7px;
  }
}
