{% include 'page-banner', background: section.settings.banner-background %}
{% include 'interior-title', title: page.title %}
<section class="interior-page">
	<div class="container">
		<article>{{ page.content }}</article>
	</div>
</section>